body {
    background-color: #1C1A32;
    color: white;
}
.navbar{
    background: #0c3f65;

}
#customer_main_section>h1{
    top:500px;
    position:absolute;

}
.card{
    border-radius: 20px;
    color:grey;
    background-color:#1C1A32 ;
    border-color: white;
}
.main-card{
    top:50px;
    height:750px;
}
.customer-detail-card{
    top:100px;

}
.customer-detail-table-c{
    top:100px;
}

.item_card{

}
#order_form1{
    top:100px;
    height:500px;
}
#order_form2{
    top:100px;
    height: 500px;
}
#order_form3{
    top:100px;
    height: 500px;
}
#order_search{
    top:50px;
}
#customer_search{
    top:50px;
}
#customer_Main_card{
    top:100px;
}
#item_search{
    top:50px;
}
#main_item_card{
    top:100px;
}
#customer_card_table{
    top:200px;
}
.item_card{
    top:40px;
}

